In [18]:
import yfinance as yf
import pandas as pd
from technical_indicator import moving_average as ma
import datetime as dt
import numpy as np
ticker = "HDFCBANK.NS"
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option("mode.chained_assignment", None)

In [20]:
# data Download OHLCV

df = yf.download(ticker,period="1y",interval="1d")
df.shape
# df["Close"].isna().sum()
# df.tail()

[*********************100%***********************]  1 of 1 completed

(251, 6)

In [23]:
days=200
col="Close"
start=0
df['{}days_sma'.format(days)] = ""
if df.shape[0] > days:
    for i in range(days, (df.shape[0] + 1)):
        df['{}days_sma'.format(days)][i - 1] = df.iloc[start:i, df.columns.get_loc(col)].sum(axis=0) / days
        start = start + 1

In [ ]:
# dfclose = df[["Close"]]
# # df_new=  dfclose.dropna()
# df_new.shape
# df_new.iloc[0:2, -1].sum(axis=0)

In [25]:
df.head()

             Open   High    Low  Close  Adj Close  Volume 200days_sma
Date
2019-12-18 371.60 372.30 361.15 368.65     361.62  108087
2019-12-19 368.70 370.40 361.00 365.00     358.04   27296
2019-12-20 365.00 367.10 361.20 363.95     357.01   26783
2019-12-23 363.10 364.90 357.00 359.80     352.94   32776
2019-12-24 359.00 363.00 356.45 358.35     351.52   24563

In [12]:
# type(df["Close"])
# df_new.sum()
# df.columns.get_loc("Close")
df["Close"][-1]
df["200days_sma"][-1]

271.07600021362305

In [17]:
import os
os.getcwd()
os.chdir("../data")
os.getcwd()

'C:\\Users\\Prashant\\courses\\data'

In [9]:
df.tail()

             Open   High    Low  Close  Adj Close  Volume 200days_sma
Date
2020-12-14 360.00 364.80 353.30 358.60     358.60  329755      270.69
2020-12-15 357.00 364.95 354.10 362.20     362.20  261444      270.75
2020-12-16 362.00 367.35 356.20 364.40     364.40  301193      270.83
2020-12-17 364.40 366.50 350.55 355.20     355.20  189239      270.91
2020-12-18 357.40 360.90 348.00 357.55     357.55  319826      271.08

In [ ]:
5
0,1,2,3,4
1,2,3,4